<h1>Signup!</h1>

<form>
<%= form_for :user, url: '/users' do |f| %>
  
  <ul>
    Name: 
    <div><%= f.text_field :name %></div>
  </ul>
  <ul>
    Email:
    <div><%= f.text_field :email %></div>
  </ul>
  <ul>
    Password:
    <div><%= f.password_field :password %></div>
  </ul>
  <ul>
    Password Confirmation:
    <div><%= f.password_field :password_confirmation %></div>
  </ul>
  <%= f.submit "Submit" %>

<% end %>
</form>