<h1>Signup!</h1>

<form>
<%= form_for :user, url: '/users' do |f| %>
  
  <ul>
    First Name: 
    <div><%= f.text_field :first_name %></div>
  </ul>
  <ul>
    Last Name:
    <div>
      <%= f.text_field :last_name %>
    </div>
  </ul>
  <ul>
    Email:
    <div><%= f.text_field :email %></div>
  </ul>
  <ul>
    Password:
    <div><%= f.password_field :password %></div>
  </ul>
  <ul>
    Password Confirmation:
    <div><%= f.password_field :password_confirmation %></div>
  </ul>
  <%= f.submit "Submit" %>

<% end %>
</form>